html {
  font-size: 10px; // used to relatively make all font sizes in rems
}

.emphasised {
  color: #595959;
  font-family: "Gentona Medium";
}

.comment {
  color: #c9c9c9;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

button {
  cursor: pointer;
}

.info-page {
  width: 520px;
  margin: 100px auto 20px;
  font-size: 1.7rem;
  text-align: justify;
}

// Component transions
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

//
.pop-enter-active {
  transform: scale(1);
  transition: all .3s ease;
  opacity: 1;
}

.pop-enter {
  transform: scale(0);
  opacity: 0;
}
