html {
  font-size: 10px; // used to relatively make all font sizes in rems
}

.emphasised {
  color: #595959;
  font-family: "Gentona Medium";
}

.negative {
  color: #ff3e39;
}

.comment {
  color: #c9c9c9;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.mtblg {
  margin: 30px 0;
}

button {
  cursor: pointer;
}

.info-page {
  width: 520px;
  margin: 100px auto 20px;
  font-size: 1.7rem;
  text-align: justify;
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

// Simple animations
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Component transions
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

//
.pop-enter-active {
  transform: scale(1);
  transition: all .3s ease;
  opacity: 1;
}

.pop-enter {
  transform: scale(0);
  opacity: 0;
}
